.animation-book {
    height: 90%;
    width: 80%;
    display: flex;
    transform-style: preserve-3d;
    z-index: 3;
    transition: opacity 1s, transform 1s;
    transform: translate(-100%, -100%) rotateY(0deg);
    aspect-ratio: 16/9;
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 1;
    container-name: animation-book;
}

.play-animation {
    opacity: 1;
    z-index: 2;
}

.pages {
    background-color: white;
    height: 95%;
    width: 95%;
    align-self: center;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);

}

.front {
    transform: rotateY(-80deg);
    width: 600px;
    transform-origin: right;
    background-image: url("images/Capture.PNG");
    position: relative;
    justify-content: right;
    border: 2px solid black;
    border-radius: 3px;

}

.back {
    transform: rotateY(80deg);
    width: 600px;
    transform-origin: left;
    background-image: url("images/lectern_back.jpg");
    position: relative;
    justify-content: left;
    border: 2px solid black;
    border-radius: 3px;
}

/* hide the pages underneath the bigger pages, then remove the bigger one to split the book open.*/
.right {
    position: relative;
    border-left-width: 0px;
    background-image: linear-gradient(90deg, tan, white, moccasin, navajowhite, wheat);
}

.left {
    position: relative;
    border-right-width: 0px;
    background-image: linear-gradient(270deg, tan, white, moccasin, navajowhite, wheat);
}