.lectern {
    height: 80%;
    width: 80%;
    background: brown;
    align-self: center;
    display: flex;
    margin: auto;
    z-index: 2;
}

.lectern-book {
    width: 90%;
    height: 90%;
    display: flex;
    background: sienna;
    border 1px solid black;
    align-items: center;
    margin: auto;
    padding: 1%;
    max-height: 600px;
}

.lectern-book span {
    width: 50%;
    height: 95%;
    border: 1px solid black;
    background: white;
    overflow: clip;
}

.left-page {
    transform-origin: center right;
}

.right-page {
    transform-origin: center left;
}