.lectern {
    aspect-ratio: 16/9;
    max-width: 90%;
    background: brown;
    background-image: url("images/lectern_back.jpg");
    justify-content: center;
    display: flex;
    margin: auto;
    z-index: 2;
}

.lectern-book {
    width: 80%;
    height: 90%;
    display: flex;
    background: sienna;
    border 1px solid black;
    align-items: center;
    margin: auto;
    padding: 1%;
    box-shadow: 5px 5px 5px 1px;
}

.bottom {
    box-shadow: 0px -6px 2px 1px;
    width: 100%;
    max-height: 2%;
}

.base {

}

.lectern-book span {
    width: 50%;
    height: 95%;
    border: 1px solid black;
    overflow: clip;
    margin: auto;
    padding: 15px;
    word-wrap: break;
}

.left-page {
    transform-origin: center right;
    background-image: linear-gradient(270deg, tan, white, moccasin, navajowhite, wheat);
}

.right-page {
    transform-origin: center left;
    background-image: linear-gradient(90deg, tan, white, moccasin, navajowhite, wheat);
}

/*
.left-page:hover {
    transform: rotateY(0deg)
}
*/

.right-page img {
    width: 100%;
    height: 100%;
    border: 3px solid black
}