body {
  margin: auto
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

header {
    /*background-color: blue;*/
    margin: auto;
    width: 30%;
    text-align: center;
}

.content {
    word-wrap: break-word;
    width: 100%;
    align: left;
}

#page_body {
    display: flex;
    margin: auto;
    width: 50%
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}

.project {
}

.experience {
}
