body {
    display: flex;
    margin: auto;
    width: 100%;
    background-color: gray;
    justify-content: center;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

header {
    margin: auto;
    width: 30%;
    text-align: center;
}

.content {
    width: 100%;
}

.divider {
    height: 2%;
}

