body {
  background-color: black;
}

#nav_bar {
    background-color: red;
    width: 10%;
    align: left;
}

#page_header {
    background-color: blue;
}

.content {
    background-color: green;
    color: white;
    word-wrap: break-word;
}

#page_body {
    background-color: purple;
    display: flex;
}

.project {
}

.experience {
}